In [0]:
import os

###### Mount Point 1 through Oauth security.
storageAccount = "gen10datafund2202"
storageContainer = "pushing-p-breakers"
clientSecret = "B4g8Q~1VyZJa5WszLHwdEQNq4YIaHmT4DevRBcwI"
clientid = "2ca50102-5717-4373-b796-39d06568588d"
mount_point = "/mnt/pushing-p-breakers"



configs = {"fs.azure.account.auth.type": "OAuth",
       "fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
       "fs.azure.account.oauth2.client.id": clientid,
       "fs.azure.account.oauth2.client.secret": clientSecret,
       "fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/d46b54b2-a652-420b-aa5a-2ef7f8fc706e/oauth2/token",
       "fs.azure.createRemoteFileSystemDuringInitialization": "true"}

try: 
    dbutils.fs.unmount(mount_point)
except:
    pass

dbutils.fs.mount(
source = "abfss://"+storageContainer+"@"+storageAccount+".dfs.core.windows.net/",
mount_point = mount_point,
extra_configs = configs)

In [0]:
%fs

ls /mnt/pushing-p-breakers/

path,name,size,modificationTime
dbfs:/mnt/pushing-p-breakers/NJ Census Tract Shapefiles/,NJ Census Tract Shapefiles/,0,1652990101000
dbfs:/mnt/pushing-p-breakers/NJ City Shapefiles/,NJ City Shapefiles/,0,1652990125000
dbfs:/mnt/pushing-p-breakers/NJ County Shapefiles/,NJ County Shapefiles/,0,1652990113000
dbfs:/mnt/pushing-p-breakers/NJ Healthcare Data/,NJ Healthcare Data/,0,1653071188000
dbfs:/mnt/pushing-p-breakers/NJ Income Data/,NJ Income Data/,0,1653071155000
dbfs:/mnt/pushing-p-breakers/NJ Unemployment Data/,NJ Unemployment Data/,0,1653071164000
dbfs:/mnt/pushing-p-breakers/NJ_FIPS_codes.csv,NJ_FIPS_codes.csv,30715,1652990527000

In [0]:
# Get Health Care data per New Jersey City

from pyspark.sql.functions import when, split, regexp_replace, initcap

# Read data into pandas DataFrame
Uninsured_cities = spark.read.options(header = True).csv('/mnt/pushing-p-breakers/NJ Healthcare Data/NJ_Uninsured_by_City.csv')


variables = [
'NAME',
'S2701_C01_001E',
'S2701_C04_001E', 
'S2701_C04_002E', 
'S2701_C04_003E', 
'S2701_C04_004E', 
'S2701_C04_005E', 
'S2701_C04_006E',
'S2701_C04_007E', 
'S2701_C04_008E', 
'S2701_C04_013E', 
'S2701_C04_014E',
'S2701_C04_015E', 
'S2701_C04_016E',  
'S2701_C04_017E',
'S2701_C04_018E', 
'S2701_C04_019E', 
'S2701_C04_020E', 
'S2701_C04_021E'
]


# Drop First Row:
Uninsured_cities = spark.createDataFrame(Uninsured_cities.collect()[1:])

# Select Variables of Interest
Uninsured_cities = Uninsured_cities.select(variables)

# Remove 'County subdivisions not defined' rows
Uninsured_cities = Uninsured_cities.where(~Uninsured_cities['NAME'].contains('County subdivisions not defined'))

Uninsured_cities = Uninsured_cities.toPandas()

# Split Name Column into 3 columns at delimiter ', '
Uninsured_cities[['City', 'County', 'State']] = Uninsured_cities['NAME'].str.split(', ', expand=True)

Uninsured_cities = spark.createDataFrame(Uninsured_cities)

# Remove Repeated Word 'city' from City Column
Uninsured_cities = Uninsured_cities.withColumn('City', regexp_replace('City', ' city', ''))


# Convert City Column to Title format (Creates an additional column so you need to drop the original 'City' column)
Uninsured_cities = Uninsured_cities.select("*", initcap(Uninsured_cities['City']))
Uninsured_cities = Uninsured_cities.drop('City')

# Rename Columns
Uninsured_cities = Uninsured_cities.withColumnRenamed('initcap(City)','City')


# Rearrange Columns
Uninsured_cities = Uninsured_cities.select(['State','County','City'] + variables[1:])


display(Uninsured_cities.limit(5))

State,County,City,S2701_C01_001E,S2701_C04_001E,S2701_C04_002E,S2701_C04_003E,S2701_C04_004E,S2701_C04_005E,S2701_C04_006E,S2701_C04_007E,S2701_C04_008E,S2701_C04_013E,S2701_C04_014E,S2701_C04_015E,S2701_C04_016E,S2701_C04_017E,S2701_C04_018E,S2701_C04_019E,S2701_C04_020E,S2701_C04_021E
New Jersey,Atlantic County,Absecon,8352,504,43,81,29,104,166,30,51,0,300,204,269,117,0,0,0,114
New Jersey,Atlantic County,Atlantic City,37686,5609,141,341,956,1629,1178,779,455,130,3002,2607,1312,1088,106,958,0,1836
New Jersey,Atlantic County,Brigantine,8685,322,11,18,33,130,62,26,42,0,173,149,268,1,0,17,0,20
New Jersey,Atlantic County,Buena Borough,4313,275,12,48,29,99,53,34,0,0,128,147,123,102,0,8,0,19
New Jersey,Atlantic County,Buena Vista Township,7269,313,0,15,0,82,73,0,107,36,210,103,272,0,21,20,0,0

In [0]:
# Create Final Uninsured DataFrame for cities
from pyspark.sql.types import IntegerType, StringType

# Convert to Pandas DataFrame
Uninsured_cities = Uninsured_cities.toPandas()

# Rename Columns (NUI means Number of Uninsured)

col_dict = {
'S2701_C01_001E': 'City Population', 
'S2701_C04_001E': 'Uninsured Population', 
'S2701_C04_002E': 'NUI, Under 6 years',
'S2701_C04_003E': 'NUI, 6-18 years',
'S2701_C04_004E': 'NUI, 19 to 25 years',
'S2701_C04_005E': 'NUI, 26 to 34 years',
'S2701_C04_006E': 'NUI, 35 to 44 years',
'S2701_C04_007E': 'NUI, 45 to 54 years',
'S2701_C04_008E': 'NUI, 55 to 64 years',
'S2701_C04_013E': 'NUI, 65 years and older',
'S2701_C04_014E': 'NUI, Men',
'S2701_C04_015E': 'NUI, Women',
'S2701_C04_016E': 'NUI, White',
'S2701_C04_017E': 'NUI, African American',
'S2701_C04_018E': 'NUI, American Indian & Alaska Natives',
'S2701_C04_019E': 'NUI, Asians',
'S2701_C04_020E': 'NUI, Native Hawaiians & Pacific Islanders',
'S2701_C04_021E': 'NUI, Other Races',
}

Uninsured_cities = Uninsured_cities.rename(columns = col_dict)

# Convert to PySpark DataFrame
Uninsured_cities = spark.createDataFrame(Uninsured_cities)

# Convert All Numeric Variables to int
cols = [col_dict[x] for x in variables[1:]]
cols

for col_name in cols:
    Uninsured_cities = Uninsured_cities.withColumn(col_name, Uninsured_cities[col_name].cast(IntegerType()))
    

# Convert State, County, and City columns to StringType
Uninsured_cities = Uninsured_cities.withColumn("State", Uninsured_cities["State"].cast(StringType()))
Uninsured_cities = Uninsured_cities.withColumn("County", Uninsured_cities["County"].cast(StringType()))
Uninsured_cities = Uninsured_cities.withColumn("City", Uninsured_cities["City"].cast(StringType()))


display(Uninsured_cities.limit(5))

State,County,City,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races"
New Jersey,Atlantic County,Absecon,8352,504,43,81,29,104,166,30,51,0,300,204,269,117,0,0,0,114
New Jersey,Atlantic County,Atlantic City,37686,5609,141,341,956,1629,1178,779,455,130,3002,2607,1312,1088,106,958,0,1836
New Jersey,Atlantic County,Brigantine,8685,322,11,18,33,130,62,26,42,0,173,149,268,1,0,17,0,20
New Jersey,Atlantic County,Buena Borough,4313,275,12,48,29,99,53,34,0,0,128,147,123,102,0,8,0,19
New Jersey,Atlantic County,Buena Vista Township,7269,313,0,15,0,82,73,0,107,36,210,103,272,0,21,20,0,0

In [0]:
# Get Median Household Income per New Jersey City

from pyspark.sql.types import IntegerType, StringType
from pyspark.sql.functions import when, split, regexp_replace, initcap

# Read data into PySpark DataFrame
Income_cities = spark.read.options(header = True).csv('/mnt/pushing-p-breakers/NJ Income Data/NJ_Income_by_City.csv')

# Select Variables of Interest
Income_cities = Income_cities.select(['NAME','S1901_C01_012E'])

# Drop First Row:
Income_cities = spark.createDataFrame(Income_cities.collect()[1:])

# Remove 'County subdivisions not defined' rows
Income_cities = Income_cities.where(~Income_cities['NAME'].contains('County subdivisions not defined'))

# One of the cells is '250,000+', this needs to be replaced with the int 250000
Income_cities = Income_cities.withColumn("S1901_C01_012E", \
              when(Income_cities["S1901_C01_012E"] == '250,000+', 250_000).otherwise(Income_cities["S1901_C01_012E"]))

# 4 of the Median Household Income values are missing, replace them with values from resources online

'''
Median Household Income values for -

    Teterboro borough, Bergen County, New Jersey: $39,196 (http://www.city-data.com/city/Teterboro-New-Jersey.html)

    Tavistock borough, Camden County, New Jersey: $89,990 (https://www.city-data.com/city/Tavistock-New-Jersey.html)

    Seaside Heights borough, Ocean County, New Jersey: $61,256 (http://www.city-data.com/city/Seaside-Heights-New-Jersey.html)

    Walpack township, Sussex County, New Jersey: $88,407 (https://www.city-data.com/township/Walpack-Sussex-NJ.html)
''' 

Income_cities = Income_cities.withColumn("S1901_C01_012E", \
              when(Income_cities["NAME"] == 'Teterboro borough, Bergen County, New Jersey', 39_196).otherwise(Income_cities["S1901_C01_012E"]))

Income_cities = Income_cities.withColumn("S1901_C01_012E", \
              when(Income_cities["NAME"] == 'Tavistock borough, Camden County, New Jersey', 89_990).otherwise(Income_cities["S1901_C01_012E"]))

Income_cities = Income_cities.withColumn("S1901_C01_012E", \
              when(Income_cities["NAME"] == 'Seaside Heights borough, Ocean County, New Jersey', 61_256).otherwise(Income_cities["S1901_C01_012E"]))

Income_cities = Income_cities.withColumn("S1901_C01_012E", \
              when(Income_cities["NAME"] == 'Walpack township, Sussex County, New Jersey', 88_407).otherwise(Income_cities["S1901_C01_012E"]))


# Convert Median Household Income Column to IntegerType
Income_cities = Income_cities.withColumn("S1901_C01_012E", Income_cities["S1901_C01_012E"].cast(IntegerType()))


# Split Name Column into 3 columns at delimiter ', '
Income_cities = Income_cities.toPandas()
Income_cities[['City', 'County', 'State']] = Income_cities['NAME'].str.split(', ', expand=True)
Income_cities = spark.createDataFrame(Income_cities)


# Remove Repeated Word 'city' from City Column
Income_cities = Income_cities.withColumn('City', regexp_replace('City', ' city', ''))


# Convert City Column to Title format (Creates an additional column so you need to drop the original 'City' column)
Income_cities = Income_cities.select("*", initcap(Income_cities['City']))
Income_cities = Income_cities.drop('City')

# Rename Columns
Income_cities = Income_cities.withColumnRenamed('initcap(City)','City').withColumnRenamed('S1901_C01_012E', 'Median Household Income')

# Rearrange Columns
Income_cities = Income_cities.select(['State','County','City','Median Household Income'])

# Convert State, County, and City columns to StringType
Income_cities = Income_cities.withColumn("State", Income_cities["State"].cast(StringType()))
Income_cities = Income_cities.withColumn("County", Income_cities["County"].cast(StringType()))
Income_cities = Income_cities.withColumn("City", Income_cities["City"].cast(StringType()))


display(Income_cities.limit(5))

State,County,City,Median Household Income
New Jersey,Atlantic County,Absecon,69293
New Jersey,Atlantic County,Atlantic City,29526
New Jersey,Atlantic County,Brigantine,75329
New Jersey,Atlantic County,Buena Borough,61914
New Jersey,Atlantic County,Buena Vista Township,66268

In [0]:
# Get Median Household Income and Unemployment Rate per County

from pyspark.sql.types import FloatType, StringType

# Read data into PySpark DataFrame
Unemployment_counties = spark.read.options(header = True).csv('/mnt/pushing-p-breakers/NJ Unemployment Data/NJ_Unemployment_by_County.csv')

# Select Variables of Interest
Unemployment_counties = Unemployment_counties.select(['NAME','DP03_0062E','DP03_0009PE'])

# Drop First Row:
Unemployment_counties = spark.createDataFrame(Unemployment_counties.collect()[1:])

# Remove 'County subdivisions not defined' rows
Unemployment_counties = Unemployment_counties.where(~Unemployment_counties['NAME'].contains('County subdivisions not defined'))


# Cast Name column as String and S2301_C04_001E column as Float
Unemployment_counties = Unemployment_counties.withColumn("NAME", Unemployment_counties["NAME"].cast(StringType()))
Unemployment_counties = Unemployment_counties.withColumn("DP03_0009PE", Unemployment_counties["DP03_0009PE"].cast(FloatType()))
Unemployment_counties = Unemployment_counties.withColumn("DP03_0062E", Unemployment_counties["DP03_0062E"].cast(FloatType()))

# Split Name Column into 2 columns at delimiter ', '
Unemployment_counties = Unemployment_counties.toPandas()
Unemployment_counties[['County', 'State']] = Unemployment_counties['NAME'].str.split(', ', expand=True)
Unemployment_counties = spark.createDataFrame(Unemployment_counties)

Unemployment_counties = Unemployment_counties.withColumnRenamed('DP03_0009PE', 'Unemployment Rate (16 & Over)').withColumnRenamed('DP03_0062E', 'Median Household Income')

# Rearrange Columns
Unemployment_counties = Unemployment_counties.select(['State','County','Median Household Income','Unemployment Rate (16 & Over)'])


display(Unemployment_counties.limit(5))

State,County,Median Household Income,Unemployment Rate (16 & Over)
New Jersey,Atlantic County,63680.0,8.7
New Jersey,Bergen County,104623.0,4.6
New Jersey,Burlington County,90329.0,5.4
New Jersey,Camden County,70957.0,6.7
New Jersey,Cape May County,72385.0,6.7

In [0]:
# Get Unemployment Rate per New Jersey City

from pyspark.sql.types import FloatType, StringType
from pyspark.sql.functions import when, split, regexp_replace, initcap

# Read data into PySpark DataFrame
Unemployment_cities = spark.read.options(header = True).csv('/mnt/pushing-p-breakers/NJ Unemployment Data/NJ_Unemployment_by_City.csv')

# # Select Variables of Interest
Unemployment_cities = Unemployment_cities.select(['NAME','S2301_C04_001E'])

# Drop First Row:
Unemployment_cities = spark.createDataFrame(Unemployment_cities.collect()[1:])

# Remove 'County subdivisions not defined' rows
Unemployment_cities = Unemployment_cities.where(~Unemployment_cities['NAME'].contains('County subdivisions not defined'))


# Cast S2301_C04_001E column as FloatType
Unemployment_cities = Unemployment_cities.withColumn("S2301_C04_001E", Unemployment_cities["S2301_C04_001E"].cast(FloatType()))


# Split Name Column into 3 columns at delimiter ','
Unemployment_cities = Unemployment_cities.toPandas()
Unemployment_cities[['City','County', 'State']] = Unemployment_cities['NAME'].str.split(', ', expand=True)
Unemployment_cities = spark.createDataFrame(Unemployment_cities)

# Remove Repeated Word 'city' from City Column
Unemployment_cities = Unemployment_cities.withColumn('City', regexp_replace('City', ' city', ''))


# Convert City Column to Title format (Creates an additional column so you need to drop the original 'City' column)
Unemployment_cities = Unemployment_cities.select("*", initcap(Unemployment_cities['City']))
Unemployment_cities = Unemployment_cities.drop('City')


# Rename Columns
Unemployment_cities = Unemployment_cities.withColumnRenamed('initcap(City)','City').withColumnRenamed('S2301_C04_001E', 'Unemployment Rate (16 & Over)')

# Rearrange Columns
Unemployment_cities = Unemployment_cities.select(['State','County','City','Unemployment Rate (16 & Over)'])


display(Unemployment_cities.limit(5))

State,County,City,Unemployment Rate (16 & Over)
New Jersey,Atlantic County,Absecon,9.1
New Jersey,Atlantic County,Atlantic City,13.8
New Jersey,Atlantic County,Brigantine,5.9
New Jersey,Atlantic County,Buena Borough,10.5
New Jersey,Atlantic County,Buena Vista Township,10.9

In [0]:
# Get Median Household Income and Unemployment Rate per Census Tract
from pyspark.sql.types import FloatType, StringType

# Read data into PySpark DataFrame
Unemployment_tracts = spark.read.options(header = True).csv('/mnt/pushing-p-breakers/NJ Unemployment Data/NJ_Unemployment_by_Census_Tract.csv')

# Select Variables of Interest
Unemployment_tracts = Unemployment_tracts.select(['NAME','DP03_0009PE','DP03_0062E'])

# Drop First Row:
Unemployment_tracts = spark.createDataFrame(Unemployment_tracts.collect()[1:])

# Remove 'County subdivisions not defined' rows
Unemployment_tracts = Unemployment_tracts.where(~Unemployment_tracts['NAME'].contains('County subdivisions not defined'))


# Change numerical columns to FloatType
Unemployment_tracts = Unemployment_tracts.withColumn("DP03_0009PE", Unemployment_tracts["DP03_0009PE"].cast(FloatType()))
Unemployment_tracts = Unemployment_tracts.withColumn("DP03_0062E", Unemployment_tracts["DP03_0062E"].cast(FloatType()))


# Split Name Column into 3 columns at delimiter ','
Unemployment_tracts = Unemployment_tracts.toPandas()
Unemployment_tracts[['Census Tract','County', 'State']] = Unemployment_tracts['NAME'].str.split(', ', expand=True)
Unemployment_tracts = spark.createDataFrame(Unemployment_tracts)

Unemployment_tracts = Unemployment_tracts.withColumnRenamed('DP03_0009PE', 'Unemployment Rate (16 & Over)').withColumnRenamed('DP03_0062E', 'Median Household Income')

# Rearrange Columns
Unemployment_tracts = Unemployment_tracts.select(['State','County','Census Tract','Unemployment Rate (16 & Over)','Median Household Income'])


display(Unemployment_tracts.limit(5))

State,County,Census Tract,Unemployment Rate (16 & Over),Median Household Income
New Jersey,Atlantic County,Census Tract 1,22.9,37725.0
New Jersey,Atlantic County,Census Tract 2,6.5,42385.0
New Jersey,Atlantic County,Census Tract 3,12.6,36892.0
New Jersey,Atlantic County,Census Tract 4,9.5,34207.0
New Jersey,Atlantic County,Census Tract 5,4.6,44421.0

In [0]:
# Create City_info Dataframe by merging based on State, County, and City Columns

merge1 = Unemployment_cities.join(Income_cities, ['State', 'County', 'City'], 'inner')
City_info = merge1.join(Uninsured_cities, ['State', 'County', 'City'], 'inner')

display(City_info.limit(5))

State,County,City,Unemployment Rate (16 & Over),Median Household Income,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races"
New Jersey,Atlantic County,Absecon,9.1,69293,8352,504,43,81,29,104,166,30,51,0,300,204,269,117,0,0,0,114
New Jersey,Atlantic County,Atlantic City,13.8,29526,37686,5609,141,341,956,1629,1178,779,455,130,3002,2607,1312,1088,106,958,0,1836
New Jersey,Atlantic County,Brigantine,5.9,75329,8685,322,11,18,33,130,62,26,42,0,173,149,268,1,0,17,0,20
New Jersey,Atlantic County,Buena Borough,10.5,61914,4313,275,12,48,29,99,53,34,0,0,128,147,123,102,0,8,0,19
New Jersey,Atlantic County,Buena Vista Township,10.9,66268,7269,313,0,15,0,82,73,0,107,36,210,103,272,0,21,20,0,0

In [0]:
import pandas as pd
import geopandas as gpd

# Create GeoDataFrame from File containing City Shape geometries
gdf = gpd.read_file('/dbfs/mnt/pushing-p-breakers/NJ City Shapefiles/cb_2018_34_cousub_500k.shp')

gdf = gdf[['COUSUBFP','NAME','geometry']]

gdf.head()

,COUSUBFP,NAME,geometry
0,63850,Robbinsville,"POLYGON ((-74.64994 40.24176, -74.62104 40.249..."
1,67350,Shrewsbury,"POLYGON ((-74.07491 40.33727, -74.06909 40.337..."
2,34530,Island Heights,"POLYGON ((-74.15572 39.94746, -74.15372 39.947..."
3,83050,Wyckoff,"POLYGON ((-74.19029 40.99239, -74.18882 41.004..."
4,64410,Roosevelt,"POLYGON ((-74.48993 40.21676, -74.48472 40.220..."

In [0]:
# Create pandas DataFrame from File containing FIPS location codes for New Jersey
FIPS = pd.read_csv('/dbfs/mnt/pushing-p-breakers/NJ_FIPS_codes.csv', header=None)

# Drop 'County subdivisions not defined' rows
FIPS = FIPS[FIPS[5] != 'County subdivisions not defined']

# Select Columns of interest
FIPS = FIPS[[3,4,5]]
# Rename columns
FIPS = FIPS.rename(columns={3:'County', 4: 'COUSUBFP', 5: 'City'})

# Convert COUSUBNS to string and pad with zeroes

FIPS['COUSUBFP'] = FIPS['COUSUBFP'].astype(str)

FIPS['COUSUBFP'] = FIPS['COUSUBFP'].apply(lambda x: x.zfill(5)).astype(str)


# Remove Repeated Word 'city' from City Column
FIPS['City'] = FIPS['City'].str.split(' city',expand=False)
FIPS['City'] = FIPS['City'].apply(lambda x: x[0])

# Make City in Title Format
FIPS['City'] = FIPS['City'].str.title()

FIPS.head()

,County,COUSUBFP,City
1,Atlantic County,00100,Absecon
2,Atlantic County,02080,Atlantic City
3,Atlantic County,07810,Brigantine
4,Atlantic County,08680,Buena Borough
5,Atlantic County,08710,Buena Vista Township

In [0]:
# Merge FIPS and gdf to get State, County, city, and geometry

merge1 = FIPS.merge(gdf,how='inner',on='COUSUBFP')

# Drop NAME and COUSUBFP columns
merge1.drop(['NAME','COUSUBFP'],axis=1,inplace=True)

# Add State Column
merge1['State'] = 'New Jersey'

# Rearrange Columns

merge1 = merge1[['State','County','City','geometry']]

merge1.head()

,State,County,City,geometry
0,New Jersey,Atlantic County,Absecon,"POLYGON ((-74.53138 39.42627, -74.52287 39.435..."
1,New Jersey,Atlantic County,Atlantic City,"POLYGON ((-74.49956 39.35965, -74.49366 39.364..."
2,New Jersey,Atlantic County,Brigantine,"POLYGON ((-74.42199 39.38523, -74.41318 39.389..."
3,New Jersey,Atlantic County,Buena Borough,"POLYGON ((-74.98527 39.51497, -74.95626 39.540..."
4,New Jersey,Atlantic County,Buena Vista Township,"POLYGON ((-74.97183 39.50916, -74.94928 39.508..."

In [0]:
# Merge Geodata with df
# Convert df to pandas dataframe

df = City_info.toPandas()

# Add Geometry to df from merge1 (both have the same number of rows and they're ordered alphabetically by city)
df = df.merge(merge1, how = 'inner', on = ['State', 'County', 'City'])

# Convert to Geodataframe
df = gpd.GeoDataFrame(df, geometry = df['geometry'])
df.head()

,State,County,City,Unemployment Rate (16 & Over),Median Household Income,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races",geometry
0,New Jersey,Atlantic County,Buena Vista Township,10.9,66268,7269,313,0,15,0,82,73,0,107,36,210,103,272,0,21,20,0,0,"POLYGON ((-74.97183 39.50916, -74.94928 39.508..."
1,New Jersey,Bergen County,Dumont Borough,5.4,107172,17598,815,67,13,41,261,157,233,43,0,434,381,425,223,0,71,0,12,"POLYGON ((-74.01054 40.94019, -74.01026 40.943..."
2,New Jersey,Bergen County,Fairview Borough,5.9,58072,14218,2875,324,64,404,866,508,394,273,42,1825,1050,2405,86,35,99,0,225,"POLYGON ((-74.01377 40.82306, -74.01050 40.823..."
3,New Jersey,Bergen County,Oakland Borough,3.4,140074,12746,718,0,121,17,69,196,222,50,43,303,415,554,68,0,12,0,84,"POLYGON ((-74.27066 41.02103, -74.25046 41.060..."
4,New Jersey,Bergen County,Lyndhurst Township,5.3,90181,22453,1545,13,39,163,291,386,328,325,0,1012,533,1273,58,0,69,0,139,"POLYGON ((-74.13957 40.80541, -74.13865 40.807..."

In [0]:
# Read in Census Tract Shape files
tract = gpd.read_file('/dbfs/mnt/pushing-p-breakers/NJ Census Tract Shapefiles/cb_2018_34_tract_500k.shp')
tract.head()

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,34,023,004700,1400000US34023004700,34023004700,47,CT,648594,0,"POLYGON ((-74.29005 40.52265, -74.28748 40.521..."
1,34,023,006103,1400000US34023006103,34023006103,61.03,CT,2845215,9920,"POLYGON ((-74.49146 40.45320, -74.48557 40.457..."
2,34,023,006500,1400000US34023006500,34023006500,65,CT,5178980,530,"POLYGON ((-74.42388 40.44648, -74.42045 40.445..."
3,34,029,715902,1400000US34029715902,34029715902,7159.02,CT,3377179,201835,"POLYGON ((-74.19763 40.04472, -74.19664 40.050..."
4,34,029,721000,1400000US34029721000,34029721000,7210,CT,2260503,240040,"POLYGON ((-74.33147 40.02096, -74.32669 40.021..."

In [0]:
# Read in Tract Healthcare information
import numpy as np

col_dict = {'NAME':'Census Tract',
'GEO_ID':'AFFGEOID',
'S2701_C01_001E': 'City Population', 
'S2701_C04_001E': 'Uninsured Population', 
'S2701_C04_002E': 'NUI, Under 6 years',
'S2701_C04_003E': 'NUI, 6-18 years',
'S2701_C04_004E': 'NUI, 19 to 25 years',
'S2701_C04_005E': 'NUI, 26 to 34 years',
'S2701_C04_006E': 'NUI, 35 to 44 years',
'S2701_C04_007E': 'NUI, 45 to 54 years',
'S2701_C04_008E': 'NUI, 55 to 64 years',
'S2701_C04_013E': 'NUI, 65 years and older',
'S2701_C04_014E': 'NUI, Men',
'S2701_C04_015E': 'NUI, Women',
'S2701_C04_016E': 'NUI, White',
'S2701_C04_017E': 'NUI, African American',
'S2701_C04_018E': 'NUI, American Indian & Alaska Natives',
'S2701_C04_019E': 'NUI, Asians',
'S2701_C04_020E': 'NUI, Native Hawaiians & Pacific Islanders',
'S2701_C04_021E': 'NUI, Other Races',
}

# Import Tract Healthcare information
tract_h = pd.read_csv('/dbfs/mnt/pushing-p-breakers/NJ Healthcare Data/NJ_Uninsured_by_Census_Tract.csv', low_memory=False)

# Drop First Row
tract_h.drop(0,inplace=True)

# Rename columns
tract_h = tract_h.rename(columns = col_dict)

# Select Columns of interest
tract_h = tract_h[['Census Tract','AFFGEOID','City Population','Uninsured Population','NUI, Under 6 years','NUI, 6-18 years', 'NUI, 19 to 25 years',
'NUI, 26 to 34 years', 'NUI, 35 to 44 years','NUI, 45 to 54 years','NUI, 55 to 64 years','NUI, 65 years and older',
'NUI, Men', 'NUI, Women','NUI, White','NUI, African American', 'NUI, American Indian & Alaska Natives', 
'NUI, Asians', 'NUI, Native Hawaiians & Pacific Islanders', 'NUI, Other Races']]

# Split Census Tract Column into 3 columns
tract_h[['Census Tract', 'County', 'State']] = tract_h['Census Tract'].str.split(', ', expand=True)

# Merge unemployment data to healthcare data for tracts
Unemployment_info = Unemployment_tracts.toPandas()
tract_h = tract_h.merge(Unemployment_info, how = 'inner', on = ['State','County','Census Tract'])

# Merge based on AFFGEOID column (we need to use a 'right' join because some of the healthcare data for census tracts is missing but we need the county geometries)
tract_info = tract_h.merge(tract,how='right',on='AFFGEOID')

# Convert to Geodataframe
tract_info = gpd.GeoDataFrame(tract_info, geometry=tract_info['geometry'])

# Convert columns to appropriate Datatypes

tract_info[['City Population', 'Uninsured Population', 'NUI, Under 6 years', 'NUI, 6-18 years', 'NUI, 19 to 25 years','NUI, 26 to 34 years', 'NUI, 35 to 44 years', 'NUI, 45 to 54 years',
'NUI, 55 to 64 years', 'NUI, 65 years and older', 'NUI, Men', 'NUI, Women','NUI, White','NUI, African American','NUI, American Indian & Alaska Natives','NUI, Asians',
'NUI, Native Hawaiians & Pacific Islanders', 'NUI, Other Races']] = tract_info[['City Population', 'Uninsured Population', 'NUI, Under 6 years', 'NUI, 6-18 years', 'NUI, 19 to 25 years','NUI, 26 to 34 years', 'NUI, 35 to 44 years', 'NUI, 45 to 54 years',
'NUI, 55 to 64 years', 'NUI, 65 years and older', 'NUI, Men', 'NUI, Women','NUI, White','NUI, African American','NUI, American Indian & Alaska Natives','NUI, Asians',
'NUI, Native Hawaiians & Pacific Islanders', 'NUI, Other Races']].fillna(-1).astype(int).replace(-1, np.nan) # if we try to convert to an int with null values it gives an error

# Drop unnecessary columns
tract_info.drop(['AFFGEOID', 'GEOID', 'NAME', 'LSAD', 'ALAND', 'AWATER', 'STATEFP', 'COUNTYFP', 'TRACTCE'],axis=1,inplace=True)

# Rearrange Columns
cols = list(tract_info.columns)
cols.remove('State'); cols.remove('County'); cols.remove('Census Tract'); cols.remove('Unemployment Rate (16 & Over)'); cols.remove('Median Household Income')
rearranged_cols = ['State', 'County', 'Census Tract', 'Unemployment Rate (16 & Over)', 'Median Household Income'] + cols
tract_info = tract_info[rearranged_cols]


# Just to show what I mean about right join. There are polygons with null healthcare values. We need to use a right join to preserve these polygons
tract_info[tract_info['Uninsured Population'].isna()].head()

,State,County,Census Tract,Unemployment Rate (16 & Over),Median Household Income,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races",geometry
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-74.05794 40.75417, -74.05458 40.757..."
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-74.20677 40.66962, -74.20514 40.671..."
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-74.39037 39.77449, -74.31431 39.756..."
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-74.19330 40.93047, -74.19178 40.931..."
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-74.75775 40.20854, -74.75635 40.208..."

In [0]:
# Get SAHIE (Small Area Health Insurance Estimate) Data

from pyspark.sql.functions import rtrim
from pyspark.sql.types import IntegerType

# Read sahie_2019.csv into Pandas DataFrame (Skip first 79 Rows)
SAHIE = pd.read_csv('/dbfs/mnt/pushing-p-breakers/NJ Healthcare Data/sahie_2019.csv', skiprows=79, low_memory = False)


# Convert Pandas DataFrame to Spark DataFrame
SAHIE = spark.createDataFrame(SAHIE) 

# Strip empty spaces from state_name and county_name columns
SAHIE = SAHIE.withColumn('state_name', rtrim(SAHIE.state_name))
SAHIE = SAHIE.withColumn('county_name', rtrim(SAHIE.county_name))


# Filter to only show counties in New Jersey and totals per county
SAHIE = SAHIE.filter(SAHIE.state_name == 'New Jersey')
SAHIE = SAHIE.filter(SAHIE.agecat == '0')
SAHIE = SAHIE.filter(SAHIE.racecat == '0')
SAHIE = SAHIE.filter(SAHIE.sexcat == '0')
SAHIE = SAHIE.filter(SAHIE.iprcat == '0')
SAHIE = SAHIE.filter(SAHIE.geocat == '50')

# Rename Columns
SAHIE = SAHIE.withColumnRenamed('state_name','State').withColumnRenamed('county_name','County').withColumnRenamed('NUI', 'Uninsured Population')

# Select Columns of Interest
SAHIE = SAHIE.select(['State', 'County', 'Uninsured Population'])

# Add County Population Column
SAHIE = SAHIE.toPandas()

Unemployment = Unemployment_counties.toPandas()

# Get Uninsured_counties Data by aggregating City_info data to get values per NJ County
Uninsured_counties = df.drop(['geometry','Uninsured Population',
                              'Unemployment Rate (16 & Over)', 'Median Household Income'],axis=1).groupby(['State','County']).sum().reset_index()

# Merge SAHIE with Uninsured_counties and Unemployment_counties
merge1 = Uninsured_counties.merge(Unemployment, how = 'inner', on = ['State','County'])
SAHIE = SAHIE.merge(merge1, how = 'inner', on = ['State','County'])

SAHIE.head()

,State,County,Uninsured Population,City Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races",Median Household Income,Unemployment Rate (16 & Over)
0,New Jersey,Atlantic County,22420,262316,495,1593,2627,4645,4852,2936,2406,738,10811,9481,9344,2821,142,2219,0,4635,63680.0,8.7
1,New Jersey,Bergen County,64563,911957,2388,6092,7252,13945,13017,10196,9490,1953,33269,31064,39639,5748,211,11529,55,4012,104623.0,4.6
2,New Jersey,Burlington County,21430,430823,686,1947,2351,4624,3498,2930,2425,319,10555,8225,10766,3864,44,1162,0,1422,90329.0,5.4
3,New Jersey,Camden County,34449,500330,1301,2774,4221,8054,6665,4560,3906,437,18270,13648,13812,5545,86,1923,63,8645,70957.0,6.7
4,New Jersey,Cape May County,6002,90643,176,345,432,1120,946,964,583,47,2567,2046,3665,328,6,38,0,537,72385.0,6.7

In [0]:
# Read County Shapefile into GeoDataFrame
county_shape = gpd.read_file('/dbfs/mnt/pushing-p-breakers/NJ County Shapefiles/County_Boundaries_of_NJ.shp')

# Get Columns of Interest
county_shape = county_shape[['COUNTY_LAB','geometry']]

# Rename Columns
county_shape = county_shape.rename(columns={'COUNTY_LAB':'County'})

# Merge with SAHIE Data
SAHIE = county_shape.merge(SAHIE,how='inner',on='County')

# Rearrange columns
cols = list(SAHIE.columns)
cols.remove('State'); cols.remove('County'); cols.remove('Unemployment Rate (16 & Over)'); cols.remove('Median Household Income'); cols.remove('geometry')
rearranged_cols = ['State', 'County', 'Unemployment Rate (16 & Over)', 'Median Household Income'] + cols + ['geometry']
SAHIE = SAHIE[rearranged_cols]

SAHIE.head()

,State,County,Unemployment Rate (16 & Over),Median Household Income,Uninsured Population,City Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years","NUI, 26 to 34 years","NUI, 35 to 44 years","NUI, 45 to 54 years","NUI, 55 to 64 years","NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Natives","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders","NUI, Other Races",geometry
0,New Jersey,Atlantic County,8.7,63680.0,22420,262316,495,1593,2627,4645,4852,2936,2406,738,10811,9481,9344,2821,142,2219,0,4635,"POLYGON ((-74.67437 39.68858, -74.67433 39.688..."
1,New Jersey,Bergen County,4.6,104623.0,64563,911957,2388,6092,7252,13945,13017,10196,9490,1953,33269,31064,39639,5748,211,11529,55,4012,"POLYGON ((-73.90569 40.98315, -73.90591 40.982..."
2,New Jersey,Burlington County,5.4,90329.0,21430,430823,686,1947,2351,4624,3498,2930,2425,319,10555,8225,10766,3864,44,1162,0,1422,"POLYGON ((-74.69864 40.18226, -74.69838 40.182..."
3,New Jersey,Camden County,6.7,70957.0,34449,500330,1301,2774,4221,8054,6665,4560,3906,437,18270,13648,13812,5545,86,1923,63,8645,"POLYGON ((-75.03314 39.99483, -75.03299 39.994..."
4,New Jersey,Cape May County,6.7,72385.0,6002,90643,176,345,432,1120,946,964,583,47,2567,2046,3665,328,6,38,0,537,"POLYGON ((-74.85962 39.31897, -74.85955 39.318..."

In [0]:
# Print Coordinate System (so you can use it later)
print(tract.crs)

In [0]:
# We originally had 565 cities but 6 cities are missing from the geometry data
df.shape

In [0]:
import warnings
warnings.simplefilter(action='ignore', category=UserWarning) # Ignore User Warning regarding geometry column not containing geometry (warning happens after wkb_hexer function is called)

# Convert polygonal geometries to wkb_hex string (WKB stands for Well-Known Binary, which is commonly used for encoding geographic polygons)
# WKT, well-known text, can also be used

def wkb_hexer(line):
    return line.wkb_hex

# Convert Each Geometry column to a well-known binary string
df['geometry'] = df['geometry'].apply(wkb_hexer)
tract_info['geometry'] = tract_info['geometry'].apply(wkb_hexer)
SAHIE['geometry'] = SAHIE['geometry'].apply(wkb_hexer)

# Convert tables to PySpark Dataframes
df = spark.createDataFrame(df)
tract_info = spark.createDataFrame(tract_info)
SAHIE = spark.createDataFrame(SAHIE)

In [0]:
admin_database = "master"
admin_user = "gen10dbadmin"
admin_password  = "vbtwrEmgSG12mabBr9ReZkcPrrDbTR-Y"
admin_server = "gen10-data-fundamentals-22-02-sql-server.database.windows.net"

database = "Pushing-P-DB"
table1 = "dbo.NJ_Cities"
table2 = "dbo.NJ_Census_Tracts"
table3 = "dbo.NJ_County_Info"
user = "pushing_p"
password  = "t3stP@ssword"
server = "gen10-data-fundamentals-22-02-sql-server.database.windows.net"

In [0]:
# Write NJ City Info to SQL Database 
df.write.format('jdbc').option("url", f"jdbc:sqlserver://{server}:1433;databaseName={database};") \
    .mode("overwrite") \
    .option("dbtable", table1) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .save()

# Write NJ Census Tract Info to SQL Database 
tract_info.write.format('jdbc').option("url", f"jdbc:sqlserver://{server}:1433;databaseName={database};") \
    .mode("overwrite") \
    .option("dbtable", table2) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .save()

# Write NJ County Info to SQL Database 
SAHIE.write.format('jdbc').option("url", f"jdbc:sqlserver://{server}:1433;databaseName={database};") \
    .mode("overwrite") \
    .option("dbtable", table3) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "com.microsoft.sqlserver.jdbc.SQLServerDriver") \
    .save()