In [3]:
from dash import Dash

import pandas as pd



# I fixed your imports for dash.dcc and dash.html,  the reason you were getting a warning message was because the way you imported the library worked

# but was an outdated method of doing it



from dash import dcc,html

import plotly.express as px

from dash.dependencies import Input, Output

import pymssql

import plotly.graph_objects as go




import warnings # The method used in class gives a warning when using pd.read_sql, this will ignore the warning message

warnings.simplefilter(action='ignore', category=UserWarning)



database = "Pushing-P-DB"

table = "dbo.NJ_Cities"

user = "pushing_p"

password  = "t3stP@ssword"

server = "gen10-data-fundamentals-22-02-sql-server.database.windows.net"

# Make function to retrieve data from database

def Get_Data():

    try:

        conn = pymssql.connect(server,user,password,database)



        query = f"SELECT * FROM {table}"



        df = pd.read_sql(query, conn)



        # converting to pandas dataframe

        df = pd.DataFrame(df)

        df['Rate Of Uninsured'] = (df['Uninsured Population']/df['City Population'])

        df['Rate Of Uninsured'] = df['Rate Of Uninsured'].round(decimals = 5)

        df['Insured Population'] = df['City Population'] - df['Uninsured Population']

        df['Insured Population'] = df['Insured Population'].round(decimals = 5)

        df['Rate Of Insured'] = df['Insured Population'] / df['City Population']

        df['Rate Of Insured'] = df['Rate Of Insured'].round(decimals = 5)



        # This is where I format the TimeStamp to "ms" and then I have to for some reason use ".dt.strftime('%Y-%m-%d %H:%M:%S')" because the format in the table chances when I print it out

#         df['TimeStamp'] = pd.to_datetime(df['TimeStamp'], unit='ms').dt.strftime('%Y-%m-%d %H:%M:%S')



        # This is where I order based off of timestamp for my fifth dataframe

#         df = df.sort_values(by='TimeStamp',ascending=False)



        return df



    except Exception as e:

        raise e




# Here I set the colors I will be using for the visualizations

colors = {

    'background': '#111111',

    'text': '#7FDBFF'

}

In [4]:
df = Get_Data()
df

,State,County,City,Unemployment Rate (16 & Over),Median Household Income,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years",...,"NUI, White","NUI, African American","NUI, American Indian & Alaska Native Population","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders Population","NUI, Other Races",geometry,Rate Of Uninsured,Insured Population,Rate Of Insured
0,New Jersey,Monmouth County,Belmar Borough,7.3,79473,5613,515,0,0,42,...,309,91,0,0,0,75,010300000001000000240000008D5E0D501A8352C0DA8E...,0.09175,5098,0.90825
1,New Jersey,Hudson County,Bayonne,6.5,69511,64994,5999,157,312,904,...,3274,601,0,599,0,1112,010300000001000000270000005FA24B59478A52C0E6E2...,0.09230,58995,0.90770
2,New Jersey,Monmouth County,Bradley Beach Borough,1.2,78452,4060,339,0,43,0,...,300,0,0,0,0,39,01030000000100000013000000FCDD3B6A4C8152C0EFAC...,0.08350,3721,0.91650
3,New Jersey,Morris County,Mount Olive Township,5.2,96550,28866,1418,33,57,193,...,1250,62,0,50,0,19,01030000000100000078000000C022BF7E88B452C03275...,0.04912,27448,0.95088
4,New Jersey,Burlington County,Southampton Township,6.5,66583,10123,279,20,0,64,...,279,0,0,0,0,0,0103000000010000005A000000A0C1A6CEA3B252C076DC...,0.02756,9844,0.97244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,New Jersey,Gloucester County,South Harrison Township,2.8,127612,3143,120,0,18,5,...,120,0,0,0,0,0,010300000001000000410000003A92CB7F48D452C0691D...,0.03818,3023,0.96182
611,New Jersey,Gloucester County,Westville Borough,6.5,51959,4171,357,0,22,0,...,176,22,0,138,0,21,01030000000100000025000000923B6C2233C952C04083...,0.08559,3814,0.91441
612,New Jersey,Gloucester County,Woodbury,8.2,60741,9828,932,49,46,250,...,279,232,0,0,0,348,0103000000010000002B00000029081EDFDECA52C0C782...,0.09483,8896,0.90517
613,New Jersey,Gloucester County,Woolwich Township,3.3,134524,12749,488,17,107,0,...,204,143,0,9,22,77,010300000002000000750000009D9B36E334D852C0A488...,0.03828,12261,0.96172
614,New Jersey,Gloucester County,Woodbury Heights Borough,2.9,98426,2977,87,15,6,5,...,87,0,0,0,0,0,0103000000010000001A000000ECBFCE4D9BCA52C0AE65...,0.02922,2890,0.97078

In [7]:
data = df[['City','City Population','Uninsured Population']]

In [8]:
data

                         City  City Population  Uninsured Population
0              Belmar Borough             5613                   515
1                     Bayonne            64994                  5999
2       Bradley Beach Borough             4060                   339
3        Mount Olive Township            28866                  1418
4        Southampton Township            10123                   279
..                        ...              ...                   ...
610   South Harrison Township             3143                   120
611         Westville Borough             4171                   357
612                  Woodbury             9828                   932
613         Woolwich Township            12749                   488
614  Woodbury Heights Borough             2977                    87

[615 rows x 3 columns]

In [15]:
x = data['City Population'].sum()

In [16]:
y = data['Uninsured Population'].sum()

In [19]:
print('Uninsured Population {:.3}%'.format(y*100/x))

Uninsured Population 7.31%