In [4]:
#importing necessary modules
import pandas as pd
import plotly.express as px
import pymssql
from shapely import wkb
import geopandas as gpd

In [10]:
#setting database connection strings
database = 'Pushing-P-DB'
table = 'dbo.NJ_Cities'
user = 'pushing_p'
password  = 't3stP@ssword'
server = 'gen10-data-fundamentals-22-02-sql-server.database.windows.net'

In [17]:
# Retrieve Training Data for Geographically Weighted Regression Model
conn = pymssql.connect(server, user, password, database)

# Query select all rows from SQL tables to insert into their respective DataFrames
query1 = f'SELECT * FROM {table}'

cities = pd.read_sql(query1, conn)

# Function convert hex string to polygon objects
def convert_to_polygon(hex):
    return wkb.loads(hex, hex=True)
cities['geometry'] = cities['geometry'].apply(convert_to_polygon)


# Convert from pandas to geopandas dataframes
df = gpd.GeoDataFrame(df, geometry=df['geometry'], crs = 'epsg:4269')

#converting Number of Uninsured column to intiger
# df['Number of Uninsured (2019)'] = df['Number of Uninsured (2019)'].astype('int64')

C:\Users\rakhi\.conda\envs\geo_env\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [18]:
cities.head(2)

,State,County,City,Unemployment Rate (16 & Over),Median Household Income,City Population,Uninsured Population,"NUI, Under 6 years","NUI, 6-18 years","NUI, 19 to 25 years",...,"NUI, 65 years and older","NUI, Men","NUI, Women","NUI, White","NUI, African American","NUI, American Indian & Alaska Native Population","NUI, Asians","NUI, Native Hawaiians & Pacific Islanders Population","NUI, Other Races",geometry
0,New Jersey,Camden County,Brooklawn Borough,6.3,44805,1888,95,0,15,18,...,0,49,46,87,0,0,0,0,0,"POLYGON ((-75.13174599999999 39.878524, -75.12..."
1,New Jersey,Middlesex County,Metuchen Borough,4.4,136067,14289,300,0,10,50,...,10,187,113,65,58,0,157,0,20,"POLYGON ((-74.382584 40.552203, -74.380319 40...."